@import "tailwindcss";

/* NATIVE APP FEEL CSS */
html, body {
  /* Remove o 'bounce' no iOS/Android */
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  background-color: #050505;
}

* {
  /* Remove o highlight azul ao clicar no iOS */
  -webkit-tap-highlight-color: transparent;
}

/* Desabilita seleção de texto para parecer um app */
body {
  -webkit-user-select: none;
  user-select: none;
  /* Desabilita o menu de contexto no iOS ao segurar (opcional, mas recomendado para apps) */
  -webkit-touch-callout: none;
}

/* Permite seleção apenas onde faz sentido (inputs e textareas) */
input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

/* Estilização Global de Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
  background-clip: padding-box;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.02);
}